@import "../../../../stylesheets/global";

.cursor-step {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(146, 255, 250, 0.31);
  //pointer-events: none;

  & > {
    p {
      color: #91ff9e;
    }

    .cursor {
      position: absolute;
      border-radius: 50%;
      background-color: rgba(255, 84, 77, 0.71);
      top: calc(50% - 30px);
      left: calc(50% - 30px);
      width: 60px;
      height: 60px;
    }

    .power-button {
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      bottom: 50px;
      width: 100px;
      height: 100px;
      background-color: rgba(155, 255, 131, 0.59);

      &:hover {
        opacity: 0.5;
      }

    }
  }
}