@import "../../../../stylesheets/global";


.connexion-step {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: white;

  .lottie-animation.home-abstrait {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &__city {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;

    div {
      height: 100%;
      width: 50%;
    }

    &__left, &__right {
      opacity: 0;

      &.connected {
        opacity: 1;
        transition: opacity 1.2s 0.3s ease;
      }
    }


  }

  &__intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
    //background: rgba(255, 0, 0, 0.05);
    height: 50vh;
    margin-top: 22vh;
    margin-bottom: auto;
    padding-top: 2rem;
    z-index: 2;
    mix-blend-mode: darken;

    video {
      opacity: 0;
      margin-bottom: 2rem;
      mix-blend-mode: darken;
    }

    &__baseline {
      text-align: center;
      display: block;
      font-size: 2.1rem;
      font-variation-settings: $light;

      &__1, &__2{
        opacity: 0;
        height: 1.4em;
      }
    }

    &__codes {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin-top: 5rem;

      &__instructions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 2.4rem;
        text-align: center;
        width: 30vw;
        font-variation-settings: $light;

        &__1 {
          span {
            &:nth-child(8),
            &:nth-child(9),
            &:nth-child(10),
            &:nth-child(11),
            &:nth-child(12),
            &:nth-child(13),
            &:nth-child(14),
            &:nth-child(15),
            &:nth-child(16),
            &:nth-child(17),
            &:nth-child(18),
             {
              font-variation-settings: $bold;
            }
          }
        }

        &__2 {
          span {
            &:nth-child(8),
            &:nth-child(9),
            &:nth-child(10),
            &:nth-child(11),
            &:nth-child(12),
            &:nth-child(13),
             {
              font-variation-settings: $bold;
            }
          }
        }



        &__1, &__2 {
          opacity: 0;
          height: 1.4em;
        }
      }

      &__player1, &__player2 {
        margin: 0;
        text-align: center;
        width: 25rem;

        &.connected &__password {
          //$shadow-color: black;
          //color: white;
          //text-shadow: -1px -1px 0 $shadow-color, 1px -1px 0 $shadow-color, -1px 1px 0 $shadow-color, 1px 1px 0 $shadow-color;
        }

        &__password, &__name {
          width: 100%;
          margin: 0;
        }

        &__password {
          opacity: 0;
          transition: text-shadow 1s ease;
          text-shadow: none;
          font-size: 7rem;
          font-variation-settings: $light;
          height: 1.3em;
        }

        &__name {
          opacity: 1;
          height: 1.3em;
          font-size: 1.8rem;
          font-variation-settings: $light;
        }

        &__status {
          margin-top: 1rem;
          p {
            margin: 0;
            height: 1.3em;
            font-size: 2.8rem;
          }

          &__connected, &__ready {
            color: $red;
          }
        }

      }

    }

  }



}

