@import "../../../../stylesheets/global";

.intro {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;

  &__infos {
    position: relative;
    height: 84vh;
    width: 100%;
    padding-left:6.66%; 
    padding-right:13.33%; 
    background: $white;
    text-align-last: left;
    
    &__logoContainer {
      display: inline-block;
      margin-top: 40px;
      margin-bottom: 45px;
      width: 66%;
    }

    &__logo {
      width: 100%;
    }

    &__paragraph {
      color: $black;
      text-align: left;
      font-size: 2.2em;
      margin-top: 0;
      margin-bottom: 3.75rem;

      &:last-child {
       margin-bottom: 0;
      }
    }

    &__viewmore {
      position: absolute;
      bottom: 40px;
      text-align: center;
      font-size: 2.2rem;
      color: $black;
      left: 50%;
      transform: translateX(-50%);
    }

    &__viewmoreIcon {
      position: absolute;
      bottom: -48px;
      left: 50%;
      transform: translateX(-50%);
      width: 12%;
      mix-blend-mode: difference;

    }

    &__arrow {
      fill: $white;
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: calc(85vh - 3.15rem);
      margin-bottom: 3.15rem;

      input[type="number"] {
        margin-top: auto;
        height: 40px;
        width: 100px;
        margin-bottom: 20px;
        background-color: black;
        color: $white;
        border: none;
        border-bottom: 1px solid $white;
        outline: none;
        text-align: center;
        font-size: 25px;
        font-family: $font-scopevariable;

      }

      input[type="submit"] {
        margin-top: 20px;
        color: white;
        font-size: 20px;
        font-family: $font-scopevariable;
      }
    }
  }

  & > {

    p {
      margin-top: 0;
      font-weight: 300;
      font-family: $font-scopevariable;

      span {
        font-weight: bold;
      }
    }

  }

}