@import "../../../../stylesheets/global";

.code-step {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;


  // Carousel configuration parameters
  //$item-width: 40%; // Now we can use percentages!
  $item-separation: 0px; // This now is set with Js
  $viewer-distance: 80rem;

  $carousels-height: 15rem;
  $carousel-width: 8rem;

  .carousels {
    height: $carousels-height;
    display: flex;
    margin: auto;
    border: 2px solid white;

  }

  .separator {
    height: 100%;
    width: 1px;
    background-color: white;
  }
  .carousel {
    height: 100%;
    width: $carousel-width;
    padding: $carousels-height / 4 0;
    perspective: $viewer-distance;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
      flex: 0 0 auto;
    }

    .items-container {
      margin: 0;

      color:white;
      //width: $item-width;
      height: 100%;
      width: 100%;
      transform-style: preserve-3d;
      transition: transform 0.5s;

      .item {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        //padding: 0 $item-separation / 2;

        p {
          margin: 0;
          font-size: 4rem;
        }

        &:not(:first-of-type) {
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }

  nav {
    display: flex;
    justify-content: center;
    margin: 50px 0 0;
    z-index: 200;
    position: absolute;
    color: red;

    button {
      flex: 0 0 auto;
      margin: 0 5px;

      cursor: pointer;

      color: #333;
      background: none;
      border: 1px solid;
      letter-spacing: 1px;
      padding: 5px 10px;
    }
  }

}
