@import "../../stylesheets/global";

.desktop-app {
  text-align: center;

  & > {

    .App-header {
      background-color: #282c34;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      color: white;

      .App-logo {
        pointer-events: none;
        animation: App-logo-spin infinite 3.5s linear;
        height: 40vmin;
        transform-origin: center;
        position: absolute;
        top: 200px;

        @keyframes App-logo-spin {
          0% {
            transform: rotate(0deg) translate(300px) rotate(0deg);
          }
          100% {
            transform: rotate(360deg) translate(300px) rotate(360deg);
          }
        }
      }

      input {
        height: 30px;
        width: 300px;
        margin-bottom: 30px;
      }

      .input-result {
        width: 300px;
        min-height: 30px;
        display: flex;
        flex-wrap: wrap;
        border: #616062 solid 2px;

        p {
          word-break: break-all;
          margin: auto;
          padding: 5px;
        }
      }
    }


  }

}
