@import "../../../../stylesheets/global";

.notification-step {
    position: relative;
    width: 74vw;
    margin:0 auto;
    opacity: 0;
    &__title {
        margin-top: 22.5vw;
        position: relative;
        font-size: 4.5rem;
        text-transform: uppercase;
        display: inline-block;
        color:$white;
        font-variation-settings: $bold;
    }

    &__map {
        border: 2px solid $white;
        width: 100%;
    }

    &__wrapper {
        margin-bottom: 14.5vw;
    }

    .alert {
        position: fixed;
        height: 100vh;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100vw;
        background: $red;
        opacity: 0;
        z-index: 1;
        pointer-events: none;
    }

}
