@import "../../stylesheets/global";

.desktop-app {
  position: relative;
  background-color: black;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  font-variation-settings: $medium;
}
