@import "../../../../stylesheets/global";

.scene-step {
  //override step style
  &.step {
     background-color: red;
    width: 80%;
  }

  &__button {
    z-index: 2;
    position: relative;
    font-size: 3rem;
  }
}

