@font-face {
  font-family: 'scopevariable';
  src: url('../assets/font/scopevariable/scopevariable.eot');
  src: url('../assets/font/scopevariable/scopevariable.eot') format('embedded-opentype'),
  url('../assets/font/scopevariable/scopevariable.woff2') format('woff2'),
  url('../assets/font/scopevariable/scopevariable.woff') format('woff'),
  url('../assets/font/scopevariable/scopevariable.ttf') format('truetype'),
  url('../assets/font/scopevariable/scopevariable.svg#scopevariable') format('svg');
}