@import "../../../../stylesheets/global";

.handle {
  $progression-width: 27.6rem;
  $progression-height: 27.6rem;

  $handle-drag-width: 7rem;
  $handle-drag-height: 17rem;

  $handle-drag-target-height: 9rem;




  margin: auto;
  position: relative;


  &__progression {
    position: absolute;
    background-color: green;
    width: $progression-width;
    height: $progression-height;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 50%;
  }

  &__drag {
    position: absolute;
    width: $handle-drag-width;
    height: $handle-drag-height;
    background-color: blue;
    transform-origin: center bottom;
    top: -$handle-drag-height;
    left: -$handle-drag-width / 2;

    &__target {
      background-color: $red;
      width: 100%;
      height: $handle-drag-target-height;
    }
  }

  &__mask {
    position: absolute;
    background-color: black;
    width: 10rem;
    height: 10rem;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 50%;
  }





}
