@import "../../../../stylesheets/global";

.stairs-step {
  z-index: 1;
  display: flex;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .left, .right {
    height: 100%;
    width: 50%;
  }

  .left {
    background-color: rgba(232, 46, 46, 0.25);
  }

  .right {
    background-color: rgba(0, 0, 255, 0.25);
  }
}