@import "../../../../stylesheets/global.scss";

.indication {
    position: fixed;
    bottom: -17rem;
    z-index: 10;
    color: white;

    &--left {
        left: 5.5vw;
        text-align: left;

        .indication__title__arrow {
            right: 105%;
        }

        .indication__description {

        }
    }

    &--right {
        right: 5.5vw;
        text-align: right;
        
        .indication__title__arrow {
            left: 105%;
        }

        .indication__description {
            margin-left: auto; 
        }
    }

    &__title {
        position: relative;
        margin-bottom: .2rem;
        text-transform: uppercase;
        font-size: 2.4rem;
        font-variation-settings: $bold;
        height: 1.3em;
        
        &__arrow {
            position: absolute;
            margin-right: .4rem;
            top: 50%;
            transform: translateY(-57%);

            .arrow{
                visibility: hidden;
                font-variation-settings: $medium;
                &:first-child{
                    font-variation-settings: $bold;
                }
                &:last-child{
                    font-variation-settings: $light;
                }
            }
        }
    }

    &__description {
        margin-bottom: 2.1rem;
        margin-top: 0;
        font-size: 1.8rem;
        width: 100%;
        font-variation-settings: $light;
        // animation
        opacity: 0;
        transform: translateY(5px)
    }

    &__iconContainer {
        display: inline-block;
        width:8rem;

        &__icon {
            width: 100%;
        }
    }
    

}