@import "../../../../stylesheets/global";

.analysis-step {
  height: 100%;
  width: 100%;
  background-color:$black;
  color: $white;
  font-size: 1.8rem;
  display: flex;

  &__text {
    margin: auto;
    font-size: 4rem;
  }
}